:root {
  --cursor-position-x: 0;
  --cursor-position-y: 0;
}

.waves {
  position: relative;
  z-index: 1;
}
.waves::after {
  content: "";
  position: absolute;
  background: conic-gradient(transparent, #35ff86, transparent, #35ff86, transparent, transparent, #35ff86, transparent, transparent, cyan, transparent, transparent, transparent, transparent);
  width: 100%;
  height: 100%;
  background-size: 150% 150%;
  background-position: var(--cursor-position-x) var(--cursor-position-y);
  animation: rotateHue 20s linear infinite;
  border-radius: inherit;
  filter: blur(20px) hue-rotate(252deg);
  z-index: -1;
  animation-delay: 2;
}

.waves-hover {
  position: relative;
  z-index: 1;
  transition: all 0.3s ease;
}
.waves-hover::after {
  transition: all 0.3s ease;
  content: "";
  right: 0;
  bottom: 0;
  position: absolute;
  background: conic-gradient(transparent, #35ff86, transparent, #35ff86, transparent, transparent, #35ff86, transparent, transparent, cyan, transparent, transparent, transparent, transparent);
  width: 0%;
  height: 0%;
  background-size: calc(150% + var(--cursor-position-x)) calc(150% + var(--cursor-position-y));
  animation: rotateHue 20s linear infinite;
  border-radius: inherit;
  filter: blur(20px);
  z-index: -1;
  animation-delay: 5;
}
.waves-hover:hover::after {
  filter: blur(20px);
  width: 100%;
  height: 90%;
}

@keyframes rotateHue {
  0% {
    background-position: 30% 0%;
  }
  25% {
    background-position: 10% 40%;
  }
  50% {
    background-position: 0% 100%;
  }
  75% {
    background-position: 70% 20%;
  }
  100% {
    background-position: 30% 0%;
  }
}
.animated-frontivia-logo #tail-tip {
  animation: tailMorphTip 0.7s infinite alternate cubic-bezier(0.8, 0.2, 0.2, 0.8);
}

.animated-frontivia-logo #tail-base {
  animation: tailMorphBase 0.7s infinite alternate cubic-bezier(0.8, 0.2, 0.2, 0.8);
}

@keyframes tailMorphTip {
  0% {
    d: path("M59.84015357,46.0254423c5.38691616.22382512,10.71587565,2.16171721,15.09921969,5.81367652,1.22153924-3.7139725,1.88238249-7.68244112,1.88238182-11.80525791-.00000048-2.94788646-.33785748-5.81686229-.97696168-8.5703182,7.87837919,3.380512,14.55187481,9.03119489,19.1974437,16.12900582,3.75235303-9.01309035.32268421-19.62800574-8.35853324-24.6401033-15.97058091-9.23408985-35.53976751-9.89760647-52.02751307-1.99055167,10.6891486,4.87318513,19.34383389,13.76526533,23.76350274,25.04424516.47353275-.00679397.94722004-.00035944,1.42046004.01930357Z");
  }
  100% {
    d: path("M67.61460285,42.40339899c5.31650495.89651461,10.3609053,3.48635248,14.25252693,7.65837751,1.67692276-3.53180973,2.8294248-7.38631307,3.34560753-11.4766888.36907972-2.92469054.39308167-5.81339155.10374356-8.62519828,7.3931411,4.34029776,13.30665037,10.78204977,17.02700724,18.4056431,4.85128059-8.47236847,2.77760349-19.43315861-5.20778142-25.49272017-14.68879035-11.16097254-34.02091987-14.26936229-51.36890476-8.48881826,9.99490834,6.17313845,17.4681897,16.07883042,20.44093488,27.8224093.47065729.05254657.93981167.11823688,1.40686606.19699559Z");
  }
}
@keyframes tailMorphBase {
  0% {
    d: path("M24.15931664,81.38630522c-1.97420171-2.8744094-3.12903143-6.35659251-3.12903143-10.11109124,0-12.27241051,5.85558866-23.17717575,14.92527861-30.07280449,3.06885001,3.15166228,4.95915595,7.45659103,4.95915595,12.20302438-9.86921236,9.86921236-9.86921668,25.87036283-.00000964,35.73956987l-2.01463927-.00000066c-6.12274044,0-11.52127658-3.07118457-14.74075421-7.75869786ZM101.70936469,35.64128584c1.00023571,5.65016971.09183903,11.67026561-3.00168187,17.02840705-1.23743071,2.14329528-2.74140433,4.03675847-4.44587357,5.66269182-2.39656504-6.56746578-6.56476482-12.28260392-11.92625318-16.56706858-.29250339,7.4384204-2.46136332,14.39476484-6.04641295,20.40886662-.90755598-1.74440748-2.09346754-3.38162113-3.55773425-4.84588688-3.4897868-3.48978452-7.96193712-5.39847806-12.52630747-5.72608113.36556652,1.46307709.66279858,2.95768268.88769809,4.48084744,2.70708645,18.33413777,11.7611093,34.16230502,24.60466534,45.58515068-6.52899348-3.27712473-13.90412612-5.12130661-21.71413135-5.12130676l-23.22914523-.00000037c-13.96852409,0-25.27168778-11.30316765-25.27168778-25.27169174,0-8.10821866,2.22853371-15.69593566,6.10655074-22.18402809-1.11948361-4.37953549-3.91644784-8.25336407-7.90599267-10.65902108C-2.24678765,60.2511136-.36151176,91.02042007,19.33889101,110.72082284c21.78519646,21.78519646,57.10598822,21.78518693,78.89119644-.00002129,19.42754443-19.42754443,21.53006201-49.61947764,6.3075484-71.37692594-.88429244-1.26391393-1.82704949-2.49936506-2.82827116-3.70258977ZM44.83758929,57.32831251c-7.70266515,7.70267018-7.70266444,20.19115859.00000159,27.89381958l13.946909-13.94691811-13.94691059-13.94690147Z");
  }
  100% {
    d: path("M24.15931664,81.38630522c-1.97420171-2.8744094-3.12903143-6.35659251-3.12903143-10.11109124,0-12.27241051,5.85558866-23.17717575,14.92527861-30.07280449,3.06885001,3.15166228,4.95915595,7.45659103,4.95915595,12.20302438-9.86921236,9.86921236-9.86921668,25.87036283-.00000964,35.73956987l-2.01463927-.00000066c-6.12274044,0-11.52127658-3.07118457-14.74075421-7.75869786ZM110.45447178,37.34304577c.28495469,5.73094146-1.37001994,11.58993439-5.11004696,16.51860045-1.49603783,1.97150203-3.22524184,3.6617662-5.11986867,5.06150327-1.55544979-6.81584234-4.9753067-13.00787529-9.75818523-17.92989395-1.22150416,7.34326792-4.24424371,13.9733303-8.55405908,19.49125495-.68201205-1.84430878-1.65361022-3.61711778-2.92302662-5.25319027-3.02540005-3.89925152-7.2233889-6.35284668-11.71082723-7.24933857.17951035,1.49733413.28727653,3.01739308.31970366,4.55673032.39032125,18.52880391,5.25574713,37.70665524,18.09930317,49.1295009-6.52899348-3.27712473-13.90412612-5.12130661-21.71413135-5.12130676l-23.22914523-.00000037c-13.96852409,0-25.27168778-11.30316765-25.27168778-25.27169174,0-8.10821866,2.22853371-15.69593566,6.10655074-22.18402809-1.11948361-4.37953549-3.91644784-8.25336407-7.90599267-10.65902108C-2.24678765,60.2511136-.36151176,91.02042007,19.33889101,110.72082284c21.78519646,21.78519646,57.10598822,21.78518693,78.89119644-.00002129,19.42754443-19.42754443,26.94549486-45.85806693,14.56683044-69.35019635-.71909013-1.36468345-1.49974843-2.70844793-2.3424461-4.02755944ZM44.83758929,57.32831251c-7.70266515,7.70267018-7.70266444,20.19115859.00000159,27.89381958l13.946909-13.94691811-13.94691059-13.94690147Z");
  }
}
.frontivia-template-button:hover {
  text-shadow: 0 0 100px #35ff86;
  transition: all 0.3s ease;
}
.frontivia-template-button:hover svg {
  transition: all 0.3s ease;
  filter: drop-shadow(0 0 50px #35ff86);
}

.frontivia-template-background {
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  z-index: -1;
  overflow: hidden;
  pointer-events: none;
  filter: opacity(0.9) brightness(0.3);
}
.frontivia-template-background svg {
  min-width: 100%;
  min-height: 100%;
}/*# sourceMappingURL=utils.css.map */